<table class="table">
  <tr>
    <th>Description</th>
    <th>Place</th>
    <th>Rewards</th>
  </tr>
  <tr>
    <h3><%= favor_presenter.title %></h3> 
    <p><%= favor_presenter.favor_request %><p>
    <td><%= favor.description %></td>
    <td><%= favor.place %></td>
    <td> Rewards for this favor are: <%= favor_presenter.rewards %></td>
  </tr>
</table>