  <%= form_for @favor do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <% if ask_favor_page %>
        <%= f.hidden_field :favor_to, value: current_user.id %>
    <% elsif publish_favor_page %>
        <%= f.hidden_field :favor_from, value: current_user.id %>
    <% end %>

    <div class="form-group">
    <%= f.label :place %>
    <%= f.text_field :place %>
  </div>

    <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
</div>
    <div class="form-group">
    <%= f.label :favor_length %>
    <%= f.select :favor_length, ((1..10).map {|i| [i,i] } << ["No limit",nil]) %>
</div>
    <div class="form-group">
    <%= f.label "Need to meet in person?" %>
    <%= f.check_box :meet %>
</div>
    <div class="form-group">
    <%= f.label "Need money?" %>
    <%= f.check_box :need_money %>
</div>
    <div class="form-group">
    <%= f.label "Physical work?" %>
    <%= f.check_box :physical_work %>
</div>

    <div class="form-group">
      <%= f.collection_check_boxes(:reward_ids, Reward.all, :id, :title) %>
</div>
    <%= f.submit %>
  <% end %>