<div class="col-md-6">
  <h1>Want to do someone a Favor?</h1>
  <% @near_users.each do |user| %>
    <% user.favors_asked.each do |favor| %>
      <% present favor do |favor_presenter| %>
        <%= render partial: 'favor', :locals => {favor_presenter: favor_presenter, favor: favor} unless favor_presenter.favor_request_accepted? %>
      <% end %><!-- presenter -->
    <% end %><!-- favor -->
  <% end %><!-- user -->
</div>

<div class="col-md-6">
  <h1>Need any of these Favors?</h1>
  <% @near_users.each do |user| %>
    <% user.favors_done.each do |favor| %>
      <% present favor do |favor_presenter| %>
        <%= render partial: 'favor', :locals => {favor_presenter: favor_presenter, favor: favor} unless favor_presenter.favor_request_accepted? %>
      <% end %><!-- presenter -->      
    <% end %><!-- favor -->
  <% end %><!-- user -->
</div>