<% present @favor do |p| %>
  <% if p.asked_favor? %>
    <h3>You asked this favor</h3>
  <% elsif p.published_favor? %>
    <h3>You Published this favor:</h3>
  <% end %>

  <table class="table">
    <tr>
      <th>City</th>
      <th>Description</th>
      <th>Rewards</th>
    </tr>
    <tr>
      <td><%= @favor.place %></td>
      <td><%= @favor.description %></td>
      <td><%= p.rewards %></td>
    </tr>
  </table>

  <% if p.favor_request_accepted? %>
    <%= p.accepted_request_message.html_safe %>
  <% else %>
    <%= p.unaccepted_requests_message %>
    <%= p.requests.join(", ").html_safe %>
  <% end %>  
<% end %>
