<h1>User info</h1>

<%= image_tag @user.image.url(:thumb) %>
<p>First name: <%= @user.firstname %></p>
<p>Last name: <%= @user.lastname %></p>
<p>Email: <%= @user.email %></p>
<p>Member since: <%= @user.created_at %></p>
<p>Hometown: <%= @user.home_town %></p>
<p>Current location: <%= @location %></p>

<h3>Asked Favors</h3>
<% @user.favors_asked.each do |fr| %>
  <%= link_to fr.description, favor_path(fr) %><br />
<% end %>


<h3>Published Favors</h3>
<% present @user do |p| %>
  <%= p.published_uncompleted_favors.join(", ").html_safe %><br />

  <h3>Done Favors<h3>

<% end %>
