
<div class="navbar">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a href="/"><%= image_tag('logo(svg).svg', class: 'logo-link') %></a>

      <ul class="nav nav-collapse pull-right">
        <% if user_signed_in?%>
          <li><%= link_to 'Ask a Favor', ask_favor_path %></li>
          <li><%= link_to 'Publish a Favor',  publish_favor_path %></li>
          <li><%= link_to "Browse Favors", favors_path %></li>
          <li><%= link_to current_user.firstname, user_path(current_user) %></li>
          <li><%= link_to image_tag('globe.svg', class: 'globe'), activities_path %>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
      <div class="nav-collapse collapse"></div>
    </div>
  </div>
</div>