<!DOCTYPE html>
<html>
<head>
  <title>Favor</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= render 'shared/navbar' %>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <div class="container-fluid">  
    <%= yield %>
  </div>

  <footer>
    <%= debug(params) if Rails.env.development? %>
  </footer>

</body>
</html>
